---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import HeroSection from '../components/HeroSection.astro';
import TrustBar from '../components/TrustBar.astro';
import ServicesSection from '../components/ServicesSection.astro';
import IndustriesSection from '../components/IndustriesSection.astro';
import EAMSection from '../components/EAMSection.astro';
import StackSection from '../components/StackSection.astro';
import MethodSection from '../components/MethodSection.astro';
import ManifestoSection from '../components/ManifestoSection.astro';
import FAQSection from '../components/FAQSection.astro';
import FooterSection from '../components/FooterSection.astro';
---

<Layout title="BaseLogic | Ingeniería de Software B2B">
	
	<div class="fixed inset-0 bg-grid-pattern z-0 pointer-events-none opacity-30"></div>

	<div class="relative z-10">
		<Navbar lang="es" translatedPath="/en" />
		
		<main>
			<HeroSection lang="es" />
			<TrustBar lang="es" />
			<ServicesSection lang="es" />
			<IndustriesSection lang="es" />
			<EAMSection lang="es" />
			<StackSection lang="es" />
			<MethodSection lang="es" />
			<ManifestoSection lang="es" />
			<FAQSection lang="es" />
			<FooterSection lang="es" />
		</main>
	</div>

</Layout>